.introduce{margin: 20px;}
.ic{color: #f1a325;margin: 5px;}
.tic{color: #38b03f;margin: 5px;}
.sic{color: #ea644a;margin: 5px;}
.incontent{padding: 1px 20px;width: 30%;height: 100px;background-color: #f7ca82;margin-top: 20px;}
.tecontent{width: 50%;height: 200px;background-color: #F1F1F1;margin-top: 20px;overflow: auto;}
.stcontent{width: 50%;height: 200px;background-color: #F1F1F1;margin-top: 20px;overflow: auto;}
.teacher{margin: 20px;}
.student{margin: 20px;}