.middle{width: 20%;margin: auto;margin-top: 50px;}
.margind{margin-bottom: 20px;}
.input-left{padding: 0 8px;overflow: hidden;text-overflow: ellipsis;}
.paddingleft{padding-left: 10px;}
.auto{margin: auto;margin-left: 108px;}