.title{margin: 30px 50px;font-size: 25px;}
.left{float: left;width: 60%;}
.right{float: left;width: 40%;}
.courselist{text-align: center;font-size: 15px;letter-spacing: 2px;margin: 10px 250px;}
.keep{width: 1530px;margin: auto;text-align: center;}
.clear{clear: both;}
.textsizes{font-size: 15px;}